* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.7;
    font-family: "Poppins", sans-serif;    
    background-color: #262626;
}

.section-two h2 {
    border-bottom: 3px solid #30B8B2;
    
}

.section-two h2 {
    padding-top: 15px;
}

.page-header {
    background-color: #315559;
    
}

.container-fluid {
    
    position: relative;
}

.container-fluid a.icon {
    display: block;
    text-align: end;
    position: absolute;
    right: 0;
    top: 7px;
}

.navbar-elements a {
    display: block;
    padding: 10px 0 0 5px
}

.container-fluid #myLinks {
    display: none;
}

.nav-link:link, .nav-link:visited {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.lines h2 {
    padding-bottom: 15px;
}

.name-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.myName {
    font-family: "Poppins", sans-serif;
    font-size: 27px;
}

.socials {
    padding-top: 10px;
}

.jobTitle {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #A8C0CE;
}

.section-one, .section-two {
    padding: 20px 22px 18px 22px;
    background-color: #BBF2ED;    
}

@media only screen and (min-width: 768px) {
    .section-two {
        padding-left: 20rem;
        background-color: #F2F2F2;
    }
    .myName {
        font-family: "Poppins", sans-serif; 
        font-size: 35px;
    }
    .jobTitle {
        font-family: Helvetica, sans-serif;
        font-size: 20px;
    }
}


@media only screen and (min-width: 768px) {
    .container {
        height: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F2F2F2;            
    }    
}

li {
    list-style: none;
}

.fig {
    border-radius: 5em;
    margin-left: 4rem;
    border: 2px solid #BBF2ED;
}

.lines {
    border-bottom: 2px dotted black;
    padding: 22px 0 18px 0;
}

.fas, .fab, .fa {
    padding-right: 15px;
    color: #5F9595;
}

.fa-bars {
    font-size: 30px;
}

.each {
    padding-left: 27px;
}

.each2 {
    padding-left: 30px;
}

.education > p {
    padding-bottom: 20px;
}

.fa-github, .fa-mobile, .fa-envelope-square, .fa-linkedin, .fa-twitter-square, .fa-instagram-square {
    font-size: 30px;
    color: #293443;
}

.list-items {
    font-weight: bolder;
}

.xpr li {
    margin-bottom: 27px;
}

.xpr li:first-of-type {
    margin-top: 23px;
}

@media only screen and (min-width: 768px) {
    .navbar {
        display: none;
    }
    .fig {
        border-radius: 2em;
        margin-left: 0px;
    }
}

.footer-prop {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #315559;
}



@media only screen and (min-width: 768px) {
    .page-header {
        position: relative;
    }
    
}

@media only screen and (min-width: 768px) {
    .page-length {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px ) {
    .section-one {
        padding: 20px 22px 18px 22px;
        margin: 0 20px 0 20px;
        background-color: #BBF2ED;
        width: 280px;
        position: absolute;
        top: 0;
    }
}
